html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

/* NAV BAR */

.navbar {
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-title {
    color: rgb(255, 183, 0);
    font-size: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

li {
    display: list-item;
}

li a {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
}

li a:hover {
    cursor: pointer;
    color: rgb(210, 154, 12);
}

/* HOME PAGE */

.hero {
    width: 100%;
    height: 900px;
    background-image: url('./assets/hero.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    opacity: 85%;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    font-weight: bolder;
    color: rgb(215, 215, 215);
    text-align: center;
    font-size: 75px;
    padding: 0;
    margin: 0;
    opacity: 90%;
}

.hero-subtext {
    font-weight: bold;
    color: rgb(215, 215, 215);
    text-align: center;
    font-size: 25px;
    padding: 0;
    opacity: 100%;
}

.explore-button {
    background-color: rgb(255, 183, 0);
    color: black;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid  rgb(255, 183, 0);
    width: 200px;
    font-weight: bolder;
}

.explore-button:hover {
    background-color: rgb(210, 154, 12);
    color: black;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid  rgb(255, 183, 0);
    width: 200px;
    font-weight: bolder;
    cursor: pointer;
}

.location-div {
    background-color: rgb(255, 183, 0);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locHeading {
    font-size: 40px;
    font-weight: bold;
}

.locations {
    display: flex;
    gap: 100px;
}

.location-card {
    text-align: center;
    padding: 20px;
}

.location-card > p {
    padding: 0;
}

/* CONTACT PAGE */

.contact-body {
    display: flex;
    flex-direction: row;
}

.side {
    width: 50%;
    height: 900px;
    background-image: url('./assets/contact.jpeg');
    background-size: cover;
    opacity: 90%;
}

.form-div {
    width: 50%;
    height: 900px;
    background-color: rgb(24, 22, 22);
}

.form-header {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 50px 70px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    gap: 20px;
    color: white;
}

form > input {
    background-color: rgb(24, 22, 22);
    color: white;
    outline: 0;
    border-width: 0 0 1px;
    border-color: white;
    padding: 10px 0px;
    font-size: 18px;
}

form > label {
    padding-top: 20px;
    font-size: 22px;
}

form > button {
    padding: 12px 0px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    margin-top: 50px;
    transition: 0.5s ease;
}

form > button:hover {
    cursor: pointer;
    transition: 0.5s ease;
    padding: 12px 0px;
    font-size: 18px;
    background-color: rgb(24, 22, 22);
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    margin-top: 50px;
}

/* MENU PAGE */

.menu-hero {
    width: 100%;
    height: 550px;
    background-image: url('./assets/menu.jpeg');
    background-size: cover;
    display: flex;
}

.menu-body {
    background-color: rgb(210, 154, 12);
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}

.menu-div {
    background-color: white;
    margin: 40px;
    padding: 40px;
    width: 40%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish-cards {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dish-titles {
    margin-bottom: 0;
}

.dish-prices {
    font-weight: 300;
}
